Repository stuudmuffin/taylortrhodes.com: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Build Image, Deploy Feature Instance

Path conditions:
  Build Image: any of: src/**/*, Dockerfile, Caddyfile, .gitlab-ci.yml
  Deploy Feature Instance: any of: .feature/*

remove these files from src folder
  src/LICENSE.txt
  src/README.txt
Due: Build Image

fix image links
  src/index.html
Due: Build Image

Dev to main
  .feature/README.md
  .feature/docker-compose.yml
  .feature/nginx.conf
  .gitlab-ci.yml
  README.md
  src/LICENSE.txt
  src/README.txt
  src/images/aws-fcp.png
  src/index.html
Due: Build Image, Deploy Feature Instance

better feature lookup failiure handling
  .feature/nginx.conf
Due: Deploy Feature Instance

add feature startup health check
  .feature/docker-compose.yml
  .feature/nginx.conf
Due: Deploy Feature Instance
